<div class="mt-8">
    <h3 class="font-medium text-gray-900 dark:text-title">Customer Reviews</h3>

    <div class="flex items-center mt-4">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-title hover:underline">5 star</a>
        <div class="w-2/3 h-5 mx-4 bg-gray-200 rounded-sm dark:bg-dark-contrast">
            <div class="h-5 bg-indigo-500 dark:bg-light-contrast/75 rounded-sm" style="width: 70%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-paragraph/75">70%</span>
    </div>
    <div class="flex items-center mt-4">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-title hover:underline">4 star</a>
        <div class="w-2/3 h-5 mx-4 bg-gray-200 rounded-sm dark:bg-dark-contrast">
            <div class="h-5 bg-indigo-500 dark:bg-light-contrast/75 rounded-sm" style="width: 17%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-paragraph/75">17%</span>
    </div>
    <div class="flex items-center mt-4">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-title hover:underline">3 star</a>
        <div class="w-2/3 h-5 mx-4 bg-gray-200 rounded-sm dark:bg-dark-contrast">
            <div class="h-5 bg-indigo-500 dark:bg-light-contrast/75 rounded-sm" style="width: 8%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-paragraph/75">8%</span>
    </div>
    <div class="flex items-center mt-4">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-title hover:underline">2 star</a>
        <div class="w-2/3 h-5 mx-4 bg-gray-200 rounded-sm dark:bg-dark-contrast">
            <div class="h-5 bg-indigo-500 dark:bg-light-contrast/75 rounded-sm" style="width: 4%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-paragraph/75">4%</span>
    </div>
    <div class="flex items-center mt-4">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-title hover:underline">1 star</a>
        <div class="w-2/3 h-5 mx-4 bg-gray-200 rounded-sm dark:bg-dark-contrast">
            <div class="h-5 bg-indigo-500 dark:bg-light-contrast/75 rounded-sm" style="width: 1%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-paragraph/75">1%</span>
    </div>

</div>