<div class="relative z-10" role="dialog" aria-modal="true">
    <!--
      Background backdrop, show/hide based on modal state.
  
      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 hidden bg-gray-500/75 dark:bg-dark/75 transition-opacity md:block" aria-hidden="true">
    </div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-stretch justify-center text-center md:items-center md:px-2 lg:px-4">

            <div class="flex w-full transform text-left text-base transition md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl">
                <div
                    class="relative flex w-full items-center overflow-hidden bg-light dark:bg-dark px-4 pb-8 pt-14 shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8">
                    <button type="button" (click)="toggleQuickview()"
                        class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8">
                        <span class="sr-only">Close</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>

                    <div class="grid w-full grid-cols-1 items-start gap-x-6 gap-y-8 sm:grid-cols-12 lg:gap-x-8">
                        <div class="aspect-[2/3] w-full rounded-lg sm:col-span-4 lg:col-span-5">


                            <div class="grid gap-2">
                                <div>
                                    <img class="h-auto max-w-full rounded-lg" src="{{productCover}}" alt="">
                                </div>
                                <div class="grid grid-cols-3 gap-2">
                                    @for (media of product.media; track $index) {
                                    <button (click)="setCover(media.src)">
                                        <img class="h-auto max-w-full rounded-lg" src="{{media.src}}"
                                            alt="{{media.alt}}">
                                    </button>
                                    }


                                </div>
                            </div>

                        </div>

                        <div class="sm:col-span-8 lg:col-span-7">
                            <h2 class="text-2xl font-bold text-gray-900 sm:pr-12 dark:text-title">{{product.title}}</h2>

                            <section aria-labelledby="information-heading" class="mt-2">
                                <h3 id="information-heading" class="sr-only">Product information</h3>

                                <p class="text-2xl text-gray-900 dark:text-paragraph">{{product.price |
                                    currency:'$'
                                    }}</p>

                                <!-- Reviews -->
                                <div class="mt-6">
                                    <h4 class="sr-only">Reviews</h4>
                                    <div class="flex items-center">
                                        <div class="flex items-center">
                                            <!-- Active: "text-gray-900", Default: "text-gray-200" -->
                                            <mat-icon svgIcon="star" class="dark:text-light-contrast"></mat-icon>
                                            <mat-icon svgIcon="star" class="dark:text-light-contrast"></mat-icon>
                                            <mat-icon svgIcon="star" class="dark:text-light-contrast"></mat-icon>
                                            <mat-icon svgIcon="star" class="dark:text-light-contrast"></mat-icon>
                                            <mat-icon svgIcon="star" class="dark:text-hover"></mat-icon>
                                        </div>
                                        <p class="sr-only">3.9 out of 5 stars</p>
                                        <a href="#"
                                            class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500 dark:text-title">117
                                            reviews</a>
                                    </div>
                                </div>

                                <!-- Description -->
                                <p class="text-gray-900 dark:text-paragraph p-2.5" [innerHTML]="product.description">
                                </p>
                            </section>

                            <section aria-labelledby="options-heading" class="mt-10">
                                <h3 id="options-heading" class="sr-only">Product options</h3>

                                <!-- Sizes -->
                                <fieldset class="mt-10" aria-label="Choose a size">
                                    <div class="flex items-center justify-between">
                                        <div class="text-sm font-medium text-gray-900 dark:text-paragraph">Size
                                        </div>
                                    </div>

                                    <div class="mt-4 grid grid-cols-4 gap-4">
                                        @for (size of product.variants; track $index) {
                                        @if(size.available){
                                        <label
                                            class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white px-4 py-3 text-sm font-medium uppercase text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 dark:bg-dark-contrast dark:text-title dark:hover:bg-hover">
                                            <input type="radio" name="size-choice" value="{{size.sku}}" class="sr-only">
                                            <span>{{size.sku | productSize}}</span>
                                            <span class="pointer-events-none absolute -inset-px rounded-md"
                                                aria-hidden="true"></span>
                                        </label>
                                        }
                                        @else {
                                        <label
                                            class="group relative flex cursor-not-allowed items-center justify-center rounded-md border bg-gray-50 px-4 py-3 text-sm font-medium uppercase text-gray-200 focus:outline-none sm:flex-1 dark:bg-disabled dark:text-title">
                                            <input type="radio" name="size-choice" value="{{size.sku}}" disabled
                                                class="sr-only">
                                            <span>{{size.sku | productSize}}</span>
                                            <span aria-hidden="true"
                                                class="pointer-events-none absolute -inset-px rounded-md border-2 border-gray-200">
                                                <svg class="absolute inset-0 size-full stroke-2 text-gray-200"
                                                    viewBox="0 0 100 100" preserveAspectRatio="none"
                                                    stroke="currentColor">
                                                    <line x1="0" y1="100" x2="100" y2="0"
                                                        vector-effect="non-scaling-stroke" />
                                                </svg>
                                            </span>
                                        </label>
                                        }
                                        }

                                    </div>
                                </fieldset>

                                <button (click)="addToCart(product)"
                                    class="mt-6 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:bg-dark-contrast">Add
                                    to bag</button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>