<a class="relative aspect-square overflow-hidden rounded-lg shadow-sm group">
    <img src="{{product.media[0].src}}" alt="{{product.media[0].alt}}"
        class="object-cover size-full transition-opacity duration-300 group-hover:opacity-0">
    <img src="{{product.media[0].src}}" alt="{{product.media[0].alt}}"
        class="object-cover w-full h-full absolute inset-0 opacity-0 transition-opacity duration-300 group-hover:opacity-50 cursor-pointer"
        [routerLink]="['products/', product.id]" routerLinkActive="router-link-active">
    <div
        class="absolute inset-0 p-6 flex flex-col justify-end opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg w-1/2">
        <h2 class="text-xl font-semibold text-white mb-2">{{product.title}}</h2>
        <button type="button" class="w-1/4" (click)="toggleQuickview()"><mat-icon svgIcon="view"></mat-icon></button>
    </div>
</a>

@if (_quickview) {
<app-product-quickview [product]="product" (closeQuickview)="toggleQuickview()" />
}