@for (review of reviews; track $index) {
<article class="my-8 py-4 border-b-4 border-light-contrast dark:border-dark-contrast">
    <div class="flex items-center mb-4">
        <img class="w-10 h-10 me-4 rounded-full" [src]="review.avatarUrl" [alt]="review.author+'_profile'">
        <div class="font-medium dark:text-white">
            <p>{{review.author}} <time datetime="2014-08-16 19:00"
                    class="block text-sm text-gray-500 dark:text-paragraph/75">{{review.joinDate}}</time></p>
        </div>
    </div>

    <div class="flex items-center mb-1 space-x-1 rtl:space-x-reverse">
        @for (item of [].constructor(5); track $index) {
        <mat-icon svgIcon="star" class="text-indigo-500" *ngIf="$index < review.rating"></mat-icon>
        <mat-icon svgIcon="star" class="text-gray-300 dark:text-gray-500" *ngIf="$index >= review.rating"></mat-icon>
        }
        <h3 class="ms-2 text-sm font-semibold text-gray-900 dark:text-white">{{review.title}}</h3>
    </div>

    <footer class="mb-5 text-sm text-gray-500 dark:text-paragraph/75">
        <p>Reviewed in the United Kingdom on <time datetime="2017-03-03 19:00">{{review.reviewDate}}</time></p>
    </footer>
    <p class="mb-2 text-gray-500 dark:text-paragraph">{{review.content}}</p>
    <aside>
        <p class="mt-1 text-xs text-gray-500 dark:text-paragraph/75">{{review.helpfulCount}} people found this helpful
        </p>
        <div class="flex items-center mt-3">
            <a href="#" class="ps-4 text-sm text-blue-600 hover:underline dark:text-title/75 ms-4 md:mb-0">Report
                abuse</a>
        </div>
    </aside>
</article>
}