<footer class="bg-white dark:bg-dark-contrast">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="#" class="flex items-center justify-center">

                    <mat-icon svgIcon="logo" class="size-8 me-3 dark:text-slate-50"></mat-icon>
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-title">Horizon
                        Supply</span>
                </a>
                <a href="mailto:info@horizonsupply.co" class="items-center gap-4">
                    <span
                        class="self-center text-sm whitespace-nowrap dark:text-paragraph">info&commat;horizonsupply.co</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase dark:text-title">Information</h2>
                    <ul class="text-gray-500 dark:text-paragraph font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline ">About</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase dark:text-title">Legal</h2>
                    <ul class="text-gray-500 dark:text-paragraph font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Cookie Policy</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-paragraph">&copy; 2025 Horizon Supply Co.</span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-title">
                    <mat-icon svgIcon="instagram"></mat-icon>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-title ms-5">
                    <mat-icon svgIcon="meta"></mat-icon>
                    <span class="sr-only">Discord community</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-title ms-5">
                    <mat-icon svgIcon="pinterest"></mat-icon>
                    <span class="sr-only">Twitter page</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-title ms-5">
                    <mat-icon svgIcon="x"></mat-icon>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-title ms-5">
                    <mat-icon svgIcon="youtube"></mat-icon>
                    <span class="sr-only">Dribbble account</span>
                </a>
            </div>
        </div>
    </div>
</footer>